body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f9fd;
  /* min-height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: unset;
}

h3 {
  text-align: center;
}

.poke-container .pokemon {
  border-radius: 7px;
  padding: 15px 20px;
  position: relative;
  text-align: center;
}

.poke-container img {
  width: 50%;
  display: block;
  margin: auto;
  transition: all 0.2s ease-in;
}

.poke-container .pokemon:hover img {
  transform: scale(1.3);
}

.poke-container .pokemon p {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.poke-container .pokemon p.poke-name {
  text-transform: capitalize;
}

.poke-container .pokemon p.number {
  font-weight: unset;
  font-size: 16px;
  background: white;
  border-radius: 10px;
  padding: 2px 8px;
  display: inline-block;
  margin-bottom: 5px;
}

footer p {
  text-align: center;
  margin-bottom: 30px;
}
